<!DOCTYPE html>
<html>
<head>
  <title>Neil's Portfolio</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="menu col-xs-8">
                    <ul>
                        <li>
                            <a href="/">Welcome</a>
                        </li>

                        <li>
                            <a href="portfolio">Portfolio</a>
                        </li>

                        <li>
                            <li><%= link_to 'Blog', "https://medium.com/" %></li> 
                        </li>

                        <li>
                            <a href="about">About</a>
                        </li>

                        <li>
                            <a href="contact">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="name col-xs-4">
                    <h1>Darl HB</h1>
                </div>
            </div>
        </div>
    </div>
<div class="container" id="contact-cont">
	
	<div class="contact-link">
		<h2>Contact me</h2>
		</br>
		</br>
		</br>
		</br>
		</br>

		<div class="contact-row">
			<%= link_to image_tag('https://raw.githubusercontent.com/dchen71/rails-portfolio/808ff116f0d08b1e57f6c82de40a18850e3667c7/app/assets/images/facebook3.svg' , width: "10%"), 'https://www.facebook.com'%>
			<%= link_to image_tag('https://raw.githubusercontent.com/dchen71/rails-portfolio/808ff116f0d08b1e57f6c82de40a18850e3667c7/app/assets/images/man42.svg' , width: "10%"), 'https://www.steam.com'%>
			<%= link_to image_tag('https://raw.githubusercontent.com/dchen71/rails-portfolio/808ff116f0d08b1e57f6c82de40a18850e3667c7/app/assets/images/twitter2.svg' , width: "10%"), 'https://www.twitter.com' %>
			<%= link_to image_tag('https://raw.githubusercontent.com/dchen71/rails-portfolio/808ff116f0d08b1e57f6c82de40a18850e3667c7/app/assets/images/google2.svg' , width: "10%"), 'https://www.google.com' %>
		</div>
	</div>

</div>